html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-image: url('../../static/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Acme', sans-serif;

  color: white;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  background-color: rgba(255, 255, 255, .5);
  width: 90%;
}

.content {
  position: relative;
  text-align: center;
  padding: 0;
}

#home-logo {
  margin: auto 30px;
}


/* -- NAVBAR -- */

.navbar li {
  padding: 10px 20px;
}

.nav-link {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 2em;
  font-weight: 500;
  color:rgb(202, 209, 245);
  transition: 0.3s ease-in-out transform, color;
}

.nav-link::after {
  content: '';
  display: block;
  border-top: 1px solid white;
  width: 0%;
  transition: 0.3s ease-in-out width;
}

.nav-link:hover {
  color: white;
  cursor: url('/static/images/shuttle.svg') 4 12, auto;
}

.nav-link:hover:after {
  content: '';
  display: block;
  border-top: 1px solid white;
  width: 100%;
}

.navbar-toggler {
  color:rgb(202, 209, 245);
}

.navbar-toggler svg {
  width: 2em;
  height: 2em;
}

.navbar-collapse {
  text-align: left;
  background-color: #0c0833;
}

#home-logo-collapsed {
  font-size: 1em;
}


/* FOOTER */
.footer {
  margin-top: auto;
  font-size: 1.2em;
  color: white;
}

.footer img {
  margin-left: 10px;
  filter: invert(50%) sepia(0%) saturate(100%) hue-rotate(130deg) brightness(95%) contrast(80%);
  transition: filter ease .3s;
}

.footer img:hover {
  filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(130deg) brightness(95%) contrast(80%);
  transition: filter ease .3s;
}

