
.projects {
    margin-top: 7em;
    font-size: 1.5em;
}

.sidebar-container {
    padding: 2em;
}

.project-content {
    padding: 1em 2em;
}

.projects .sidebar {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    height: 100%;
    padding: 30px;
}

.projects .sidebar h2 {
    font-weight: 600;
}

.project-list {
    text-align: left;
    list-style: lower-greek;
}

.projects .sidebar li {
    padding: .5em 0 0 .5em;
  }

.projects .sidebar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color .3s ease;
  }

.projects .sidebar a:hover {
    color: white;
}


.project-content .description, .body {
    text-align: left;
}

.project-content a {
    color: white;
    text-decoration: underline;
    transition: .3s ease;
}

.project-content a:hover {
    color: rgba(255, 255, 255, 0.767);
}

.project-content h3 {
    font-weight: 600;
}

.project-content h3 span {
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}

.project-content li {
    margin: 20px auto;
}

.project-content hr {
    margin-bottom: 50px;
    width: 100%;
}

.project-content img {
    width: 600px;
    margin: 50px auto;
}

.project-content .body .title {
    font-weight: 600;
    margin: 30px auto;
}

.objective-list ul,
.learned-list ul {
    list-style-image: url("/static/images/rocket.svg");
}

.objective-list li,
.learned-list li {
    padding: .5em;
    background-color: #605e7244;
}



.project-content .date {
    text-align: right;
    font-style: italic;
    font-size: .8em;
    margin: 50px auto;
}

#download-btn {
    position: relative;
    margin-top: 10px;
}

#download-btn a {
    color: white;
    transition: .3s ease;
    position: absolute;
    right: 20px;
    bottom: 0;
}

#download-btn a:hover {
    color: rgba(255, 255, 255, 0.767);
}
