
.projects {
    margin-top: 7em;
    font-size: 1.5em;
}

.sidebar-container {
    padding: 2em;
    margin-bottom: 10em;
}

.project-content {
    padding: 1em 2em;
    position: relative;
}

.projects .sidebar {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    height: 100%;
    padding: 30px;
    margin-bottom: 300px;
}

.projects .sidebar h2 {
    font-weight: 600;
    color: white;
}

.project-list {
    text-align: left;
    list-style: lower-greek;
}

.projects .sidebar ul {
    padding-left: 1em;
}

.projects .sidebar li {
    color:rgb(202, 209, 245);
    position: relative;
    padding: .3em .5em;
}

.projects .sidebar a {
    text-decoration: none;
    color:rgb(202, 209, 245);
    transition: color .3s ease;
    padding: 0;
    font-size: 1.1em;
}

.project-content-inner {
    padding: 2em;
    box-shadow: 0 0 1em .1em rgb(71, 71, 95);
}

.projects .sidebar a:hover {
    color: white;
}

/* -- Sidebar Hover -- */

.sidebar-link {
    position: relative;
    overflow: visible;
}

.projects .sidebar a:hover .project-image-hover {
    opacity: 1;
    z-index: 10;
    visibility: visible;
}

.project-image-hover {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 10em;
    padding: .5em;
    border-radius: .5em;
    background-color: #4A4B94;
    box-shadow: 0 .7em 2em .03em rgb(134, 136, 251);
    opacity: 0;
    z-index: -10;
    visibility: hidden;
    transition: 0.2s opacity;
}

.project-image-hover img {
    border-radius: .5em;
    max-width: 400px;
    max-height: 400px;
}

@media screen and (max-width: 700px) {
    .project-image-hover {
        width: "200px";
        left: 6em;
    }
    .project-image-hover img {
        border-radius: .5em;
        width: 200px;
    }
}



/* -- Main page -- */

.project-title {
    text-align: left;
}

.project-title h1 {
    font-size: 1.2em;
}

.project-title h4 {
    margin-top: .5em;
}


.arrow-container {
    position: relative;
    display: block;
    width: 100%;
    height: 6em;
    margin-top: 2em;
}

#arrow {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 30%;
    right: 70%;
    fill: #4A4B94;
    stroke-width: 3px;
    transform: scale(-1);
    animation: arrowSlide 2s infinite;
}

#flip-button, #roll-button, #spin-button {
    margin-top: 2em;
    font-size: 1em;
}

.secondary {
    color: white;
    background: transparent;
}

@keyframes arrowSlide {
    0%   {left: 80px;}
    20%  {left: -80px;}
    100%   {left: 80px;}
}


/* -- Body -- */

.project-content .description, .body {
    text-align: left;
}

.project-content a {
    color: white;
    text-decoration: underline;
    transition: .3s ease;
}

.project-content a:hover {
    color: rgba(255, 255, 255, 0.767);
}

.project-content h3 {
    font-weight: 600;
}

.project-title {
    font-size: 2.5em;
    padding: .5em;
    margin-top: .5em;
}

.project-content li {
    margin: 20px auto;
}

.project-content hr {
    margin-bottom: 50px;
    width: 100%;
}

.project-image {
    width: 600px;
    margin: 50px auto;
}

.project-content .body .title {
    font-weight: 600;
    margin: 30px auto;
}

.objective-list ul,
.learned-list ul {
    list-style-image: url("/static/images/rocket.svg");
}

.cool-li {
    margin-left: 1em;
    padding: .5em 1em;
    background-color: #605e7244;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.3s ease-in-out background-color;
}

.cool-li:hover {
    background-color: #76748844;
}

/* -- Media queries -- */

@media screen and (max-width: 1200px) {
    .project-title h1 {
        font-size: 1em;
    }
    .sidebar-container {
        padding-top: 0;
    }
    .cool-li {
        font-size: 1em;
        padding: .25em .5em;
        margin-left: .5em;
    }
    h3 {
        font-size: 1em;
    }
   .arrow-container {
        visibility: hidden;
        height: 0;
    }
    canvas, .buttons {
        visibility: hidden;
    }
    .project-content {
        padding-bottom: 0;
        margin-bottom: 0;
        height: 15em;
    }
}

@media screen and (max-width: 900px) {
    .project-title h1 {
        font-size: .7em;
    }
    .project-title h4 {
        font-size: .5em;
    }
    .project-content {
        padding-bottom: 0;
        margin-bottom: 0;
        height: 10em;
    }
}

@media screen and (max-width: 600px) {
    .project-title h1 {
        font-size: .5em;
    }
    .project-title h4 {
        font-size: .3em;
    }
    .project-content {
        padding-bottom: 0;
        margin-bottom: 0;
        height: 10em;
    }
}

/* -- */

.project-content .date {
    text-align: right;
    font-style: italic;
    font-size: .8em;
    margin: 50px auto;
}

#download-btn {
    position: relative;
    margin-top: 10px;
}

#download-btn a {
    color: white;
    transition: .3s ease;
    position: absolute;
    right: 20px;
    bottom: 0;
}

#download-btn a:hover {
    color: rgba(255, 255, 255, 0.767);
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.mini-card {
    display: inline-block;
    position: relative;
    perspective: 100px;
    cursor: p;
}

.mini-card-inner {
    background-color: rgb(40, 4, 240);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 .7em 2em .03em rgb(134, 136, 251);
    border: 2px solid transparent;
    transition: 0.3s ease-in-out transform, border;
}

.mini-card-text {
    font-size: 1.5em;
}

.mini-card a {
    text-decoration: none;
}

.mini-card:hover .mini-card-inner{
    transform-style: preserve-3d;
    border: 2px solid white;
    transform: rotateY(12deg);
}

.mini-container {
    padding: 1em 0;
}

.image-container {
    position: absolute;
    width: 100%;
    padding: 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: .25;
}

#second-image {
    width: 100%;
}

.body p {
    padding: 1em;
    box-shadow: 0 0 .05em .05em rgb(134, 136, 251);
}

