.skills-container {
  margin-top: 10em;
}

.skill-card {
  padding: 1.5em;
}

.skill-card ul {
  list-style: none;
}

.skill-card-item {
  font-size: 1.5em;
  padding: .3em 1em;
  margin: .3em 1em;
  background-color: #649CFF;
  border-radius: 1em;
  transition: 0.3s ease-in-out background-color;
}

.skill-card-item:hover {
  background-color: #7eabfa;
}

.skill-card-inner {
  padding: 2em;
  text-align: left;
  background-color: rgb(74, 75, 148);
  border-radius: 1em;
}

.skill-card-title {
  text-align: center;
}

.skill-card-title h3 {
  margin: 1em;
}

.skill-card-image {
  width: 7em;
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(190deg)
}

@media screen and (max-width: 500px) {
  .skill-card-title h3 {
    font-size: 1.3em;
  }
  .skill-card li {
    font-size: 1.3em;
  }
}
