{% extends 'index.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <div class="row projects">
        <div class="col-lg-2 sidebar">
            <h2>Projects</h2>
            <hr>
            <ul>
                {% for project in projects %}
                    <li><a href="{% url 'projects' %}/{{ project }}">{{ project }}</a></li>
                {% endfor %}
            </ul>

        </div>

        {% block project-content %}
        <div class="col-lg-8">
            <h1>Projects</h1>
            <hr>
            <p>
                Here you can browse through my different projects.
                If you have any questions, tips or ideas, don't hesitate to contact me!
            </p>
        </div>
        {% endblock %}



    </div>

{% endblock %}

