{% extends 'index.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <div class="projects row align-items-start">
        <div class="sidebar-container col-lg-3 offset-lg-0 offset-md-1 col-md-10">
            <div class="sidebar">
                <h2>Projects</h2>
                <hr>
                <ul class="project-list">
                    {% for project in projects %}
                        <li><a href="{% url 'projects' %}/{{ project }}">{{ project }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="project-content col-lg-9 offset-lg-0 offset-md-1 col-md-10">
            {% block project-content %}
            <h1 class="project-title">Projects</h1>
            <hr>
            <p>
                Here you can browse through my different projects.
                If you have any questions, tips or ideas, don't hesitate to contact me!
            </p>
            {% endblock %}
        </div>

    </div>

{% endblock %}

