{% extends 'index.html' %}

{% load static %}

{% block content %}

<div class="container contact">

    <div class="text-wrapper d-flex justify-content-center">
            <p>
                Do you have any questions? <br>
                Perhaps you just want to reach out to me with some feedback? <br>
                Or, you might be interested to cooperate with something? <br>
                Don't hesitate to contact me!
            </p>
    </div>

    <hr>

    <form action="{% url 'contact' %}" method="POST">

        {% csrf_token %}

          <div class="row">
            <div class="form-group col-sm-6 labels">
              <label>Name:</label>
            </div>
            <div class="form-group col-sm-6 input">
              <div class="input">{{ form.name }}</div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 labels">
              <label>Email (If you want me to get back):</label>
            </div>
            <div class="form-group col-sm-6 input">
              {{ form.mail }}
            </div>
          </div>
          <div class="form-group message">
              <label>Message:</label><br>
              {{ form.message }}
          </div>
          <div class="form-group">
              <input class="button" type="submit" value="Send">
          </div>
      </form>

</div>

{% endblock %}

