{% extends 'index.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="{% static 'images/home/drone.mp4' %}" type="video/mp4">
        </video>
        <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
            </div>
          </div>
        </div>
    </header>
</div>

<hr>

<p>The story about</p>
<h1>Victor Krook</h1>

<hr>

<div class="row">

    <div class="col-lg-5 offset-lg-1 image-frame">
        <a class="img-tag" href="projects/FPV%20Drone">
            <div class="outer">
                <img class="img-fluid" src="{% static 'images/home/drone.jpg' %}">
            </div>
        </a>
    </div>

    <div class="col-lg-5">
        <a class="img-tag" href="projects/Home%20weatherstation%20&%20monitor">
            <div class="outer">
                <img class="img-fluid" src="{% static 'images/monitor.jpg' %}">
            </div>
        </a>
    </div>

    <div class="col-lg-5 offset-lg-1">
        <a class="img-tag" href="{% url 'about' %}">
            <div class="outer">
                <img class="img-fluid" src="{% static 'images/home/toolkits.jpg' %}">
            </div>
        </a>
    </div>

    <div class="col-lg-5">
        <a class="img-tag" href="{% url 'about' %}">
            <div class="outer">
                <img class="img-fluid" src="{% static 'images/profilepic.jpg' %}">
            </div>
        </a>
    </div>

</div>

{% endblock %}

